@inherits LayoutComponentBase

<PageTitle>PSManager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-9">
                    @Body
                </div>
                <div class="col-3">
                    <MessageCenter />
                </div>
            </div>
        </div>
    </main>
</div>
